@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navHeight:60px;
  --pineYellow:#ff8500;
  --pinePurple:#5a189a;
}

html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.pageBody{
  height:calc( 100vh - var(--navHeight));
  overflow: hidden;
  position: relative;
}


.pageBody::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  transform: translateX(-25%) rotateZ(-7deg);
  background-image: url("https://www.allmychefs.com/images/1412/1200-auto/ananas_000.jpg?poix=50&poiy=50");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 700px){
  .pageBody::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -5;
    transform: translateY(20%) rotateZ(-10deg);
    background-image: url("https://www.allmychefs.com/images/1412/1200-auto/ananas_000.jpg?poix=50&poiy=50");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
