.NavMain{
width: 100vw;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 70px;
 background-color: #fca21177;
 padding-left: 0.5rem;
}

li{
    margin:20px;
}

.nav-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Logo */

#smallLogo{
    height: 60px;
}

.logoWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 0.8rem;
}

/* Bars */
.bars{
    display: none;
}

@media screen and (max-width: 700px){
    .bars{
        display:block;
        position: absolute;

        right:0;
        transform: translateX(-0.5rem);
        cursor: pointer;
        font-size: 1.8rem;
    }
}

/* navRight */
.navRight{
    display: flex;
    justify-self: flex-end;
}

.navLeft{
    display: flex;
    justify-self: flex-start;
}

@media screen and (max-width: 700px){
    .navRight,.navLeft{
        display: none;
    }
}
