:root {
    --navHeight:60px;
    --pineYellow:#ffc66c;
  }

.NavMain{
width: 100vw;
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: var(--navHeight);
 padding-left: 0.5rem;
 box-shadow:0 0.2rem 0.8rem hsl(0deg 0% 59% / 40%);
}

li{
    margin:20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    position: relative;
    font-weight: 700;
}

.nav-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
}

/* Logo */

#smallLogo{
    height: calc( var(--navHeight) * 0.9);
}

.logoWrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0 0.8rem;
}


/* Bars */
.bars{
    display: none;
}

.barLogo{
    color: white;
    font-size: 1.9rem;;
}

.barWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 700px){
    .bars{
        height: var(--navHeight);
        width: var(--navHeight);
        background-color: #ffc66c;
        display:flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right:0;
        /* transform: translateX(-0.5rem); */
        cursor: pointer;
        font-size: 1.8rem;
    }
}

/* navRight */
.navRight{
    display: flex;
    justify-self: flex-end;
}

.navLeft{
    display: flex;
    justify-self: flex-start;
}

@media screen and (max-width: 700px){
    .nav-list{
        width: fit-content;
        transform-origin: 100% 0%;
        transform: scaleX(0) scaleY(0);
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: var(--navHeight);
        z-index: 10;
    }

    .nav-list li:hover{
        transform: scale(1.05) ;
    }

    .nav-list.mobile{
        transform: scaleX(1) scaleY(1);
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: var(--navHeight);
        background-color: white;
        box-shadow:0 0.2rem 0.8rem hsl(0deg 0% 59% / 40%);
        z-index: 10;
    }

    .navLeft,.navRight{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
